html {
font-family: "Verdana";   
}
head {
    margin: auto;
    background: #ABA968;
    border: 10px solid #000;    
}

header > h1 {
    text-align: center;
    margin-top: 80px;
}
body {
    width 80%;
    margin: 20px;
    background: #ABA968;
   
    padding: 3px;
}
div {
    border-radius: 5px;
    background-color: #6B7D39;
    transition: background-color 0.5s ease;
    display:inline;
    font-size:25px;
    padding:20px;
    border:1px solid #ccc;
    margin-top:10px;
    margin-left: 44px;
}

.active {
    background-color:#556677;
}

img {
    margin-top: 50px;
    margin-left: 385px;
    margin-bottom: 50px;
}

a {
    text-decoration: none;
    color: black;
    font-family: "Verdana";
}
